*.gif
*.bat
*.nil
LISCENSE
.local/
lore/
screenshots/
cover.png
Craptorio_html.zip
Craptorio_macOS
Craptorio_linux
Craptorio_rpi
Craptorio_win10.exe
Craptorio_winXP.exe
CraptorioHTML/cart.tic
CraptorioHTML/index.html
CraptorioHTML/tic80.js
CraptorioHTML/tic80.wasm
CraptorioHTML.zip
