*.gif
*.bat
*.png
*.nil
*.PNG
LISCENSE
.local/
bat_scripts/
lore/
screenshots/
classes/double_buffering.lua
tic80.exe
image.lua
tree_generator.lua
tree_generator2.lua
tree_generatorV3.tic
tree_generatorV3.lua